/* Body & HTML */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body>div {
    width: 70vw;
    margin: 2em auto;
}

@media (max-width:920px) {
    body>div {
        width: 90vw;
        margin: 2em auto;
    }
}

/* Header */

header h1 {
    border-bottom: 2.5px solid rgba(180, 180, 180, 0.473);
    padding-bottom: 25px;
}

header h2 {
    position: absolute;
    top: -1000000px;
}

header {
    margin-bottom: 16em;
}

/* Sections  */

section {
    display: grid;
    grid-template-columns: 17% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'title exp1'
        'title exp2';
    margin: 4em 0;
}

img {
    z-index: 3;
    transform: rotate(-13deg);
    width: 11em;
    float: right;
    position: relative;
    bottom: 80px;
}

section>ul {
    padding-left: 3em;
}

section h3 {
    grid-area: title;
    border-right: 1px solid #000;
}

section>div {
    margin: 0em 1em 3em 1em;
}

@media (max-width:920px) {
    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'title'
            'exp1'
            'exp2';
    }

    img {
        display: none;
    }

    section h3 {
        border-right: 0;
        border-bottom: 1px solid #000;
        width: 125px;
        margin-bottom: 3em;
    }
}

/* About */

#about h3 {
    position: absolute;
    top: -1000000px;
}

#about {
    position: absolute;
    top: 7em;
    width: 580px;
    text-align: justify;
    font-style: italic;
    color: rgb(180, 180, 180);
    display: initial;
    margin: 0;
}

@media (max-width:920px) {
    #about {
        position: absolute;
        top: 7em;
        width: 90vw;
    }

}

/* Experience */

.experience-details {
    float: right;
    position: relative;
    bottom: 51px;
    margin-bottom: 0;
    color: rgb(180, 180, 180);
}

.experience-date-separator {
    color: #008080;
}

.experience h4 {
    margin-bottom: 2em;
    color: #008080;
}

.experience-description {
    text-align: left;
    float: left;

}

@media (max-width:920px) {
    #experiences h3 {
        height: fit-content;
    }
}


/* Contact */

#contact h3 {
    position: absolute;
    right: 1000000px;
}

.contact-email {
    background-image: url("envelope-regular.svg");
    background-repeat: no-repeat;
    height: 100px;
    min-width: 100px;
    font-size: 0;
}

.contact-skype {
    background-image: url("skype-brands.svg");
    background-repeat: no-repeat;
    height: 100px;
    min-width: 100px;
    font-size: 0;
}

.contact-phone {
    background-image: url("phone-solid.svg");
    background-repeat: no-repeat;
    height: 100px;
    min-width: 100px;
    font-size: 0;
}

.contact-github {
    background-image: url("github-brands.svg");
    background-repeat: no-repeat;
    height: 100px;
    min-width: 100px;
    font-size: 0;
}

.contact-facebook {
    background-image: url("facebook-square-brands.svg");
    background-repeat: no-repeat;
    height: 100px;
    min-width: 100px;
    font-size: 0;
}

.contacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 60vw;
    margin: 1em auto;
}

#contact {
    display: initial;
}

@media (max-width:920px) {
    .contacts {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-around;
        width: 70vw;
        margin: 1em 0 1em 1em;
    }

    .contact {
        width: 33%;
        padding-bottom: 3em;
    }
}


/* Competencies and Skills */

#competencies {
    grid-template-rows: auto auto;
}

.skills-primary .skill[data-skill="5"] span::after {
    content: '\2605''\2605''\2605';
    font-size: 1.5em;
    position: absolute;
    right: 8px;
    border: none;
    color: #fff;
    fill: #fff;
}

.skills-primary .skill[data-skill="3"] span::after {
    content: '\2605''\2605';
    font-size: 1.5em;
    position: absolute;
    right: 8px;
    border: none;
    color: #fff;
    fill: #fff;
}

.skills-primary .skill[data-skill="1"] span::after {
    content: '\2605';
    font-size: 1.5em;
    position: absolute;
    right: 8px;
    border: none;
    color: #fff;
    fill: #fff;
}

.skills-secondary .skill[data-skill="9"] span::after {
    content: '\2605''\2605''\2605''\2605''\2605';
    font-size: 1.5em;
    position: absolute;
    right: 8px;
    border: none;
    color: #fff;
    fill: #fff;
}

.skills-secondary .skill[data-skill="7"] span::after {
    content: '\2605''\2605''\2605''\2605';
    font-size: 1.5em;
    position: absolute;
    right: 8px;
    border: none;
    color: #fff;
    fill: #fff;
}

.skills-secondary .skill[data-skill="5"] span::after {
    content: '\2605''\2605''\2605';
    font-size: 1.5em;
    position: absolute;
    right: 8px;
    border: none;
    color: #fff;
    fill: #fff;
}

.skills-secondary .skill {
    background: #008080;
    color: #fff;
    height: 4em;
    line-height: 4em;
    padding: 0 8px;
    width: 10vw;
    position: relative;
    font-size: 12px;
    margin: 0 8px;
}

.skills-primary .skill {
    background: #008080;
    color: #fff;
    height: 4em;
    line-height: 4em;
    padding: 0 8px;
    width: 10vw;
    position: relative;
    margin: 0 8px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.skills-primary {
    margin-bottom: 0;
    height: 80px;
}

.skills-secondary {
    height: fit-content;
}

@media (max-width:920px) {
    .skill:first-child {
        margin-left: 0;
    }

    .skill:last-child {
        margin-right: 0;
    }

    .skills-secondary .skill {
        width: 70%;
    }

    .skills-primary .skill {
        width: 70%;
    }

    .skills-secondary .skill[data-skill] span::after {
        font-size: .5em;
    }

    .skills-primary .skill[data-skill] span::after {
        font-size: 0.6em;
    }

    .skills-primary {
        margin: 0;
    }

    .skills-secondary {
        margin: 0;
    }


}